<div class="col-xs-12 col-md-5 mt-1 mb-1">
	<div class="search">
		<form class="input-group align-items-start" action="{{ url('documents-search')}}" method="get" role="search">
					{# The label was not associated with any control. #}
					<label for="repository-search-input" class="text-grey" style="white-space: nowrap; margin-right: 10px;">Search in Internal repository</label>

					<input id="repository-search-input" class="form-control search" style="color: #000;" name="q" type="text" autocomplete="on">
					<button class="btn search btn-link pr p-search big text-grey-search-btn" type="submit">
						<span class="sr-only">Search the internal repository</span>
					</button>


		</form>
	</div>
</div>

<div class="col-xs-12 col-md-3 end-xs">
	{% if folder.nest_depth == 0 and folders.count == 0 %}
	<a href="{{url('internal-repository')}}" class="back"> <div class="arrow-left end-xs"></div> &nbsp;Back to documents</a>
	{% endif %}
</div>

